@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Jaro";
  src: url("/src/fonts/Jaro/static/Jaro_60pt-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("/src/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("/src/fonts/Roboto/Roboto-Bold.ttf");
}
body {
  margin: 0 auto;
  background: rgba(230, 230, 230, 0.9607843137);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(61, 60, 60, 0.9607843137);
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

h4 {
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header__logo-link {
  display: block;
  width: 4rem;
}
.header__logo-link img {
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__nav-link {
  font-size: 1.3rem;
  color: #460a66;
}
.header__nav-link:hover {
  color: #6600ff;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  background: rgba(230, 230, 230, 0.9607843137);
}

main.container.main {
  padding: 20px 0;
}

.main > section {
  width: 400px;
  aspect-ratio: 1/1;
  overflow: auto;
  padding: 1rem;
  background: #fff;
  box-shadow: 2px 2px 20px 5px #d3d3d3;
  border-radius: 5px;
}

.main > .section-four-five {
  width: 820px;
  grid-row: 2/3;
  grid-column: 1/3;
  aspect-ratio: auto;
  height: 100%;
}

.main > .section-three-six-nine {
  height: 1240px;
  grid-row: 1/4;
  grid-column: 3/3;
  aspect-ratio: auto;
}

.one__text {
  display: block;
  text-align: center;
  font-family: "Jaro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(26px, 7vw, 110px);
  background-image: url("/src/static/cloud.jpg");
  background-position: left center;
  background-size: cover;
  background-clip: text;
  color: transparent;
}

.section-two {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.swiper {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.swiper-slide img {
  width: 100%;
}

html,
body {
  scrollbar-gutter: stable;
}

body:has(dialog:modal) {
  overflow: hidden;
}

.section-three-six-nine {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  color: #1a161d;
  scrollbar-width: thin;
}
.section-three-six-nine dl {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  background: #cfff75;
}
.section-three-six-nine dt {
  margin-top: 0.5rem;
  font-weight: 700;
}
.section-three-six-nine button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  background: #448fff;
  color: #fff;
}
.section-three-six-nine button:hover {
  background: #ff5700;
  cursor: pointer;
}
.section-three-six-nine dialog {
  border: 1px solid #08020d;
  box-shadow: 0 8px 3px -9px #08020d;
}

[aria-labelledby=popup-theory] {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #96cffd;
}
[aria-labelledby=popup-theory] dl {
  background: #fff;
}

.popup-research {
  display: flex;
  flex-direction: column;
}
.popup-research #popUpDialog {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-research [id^=popover] {
  padding: 3rem;
  border: 1px solid #ff5700;
  box-shadow: 0 8px 3px -9px #08020d;
}
.popup-research ::backdrop {
  backdrop-filter: blur(2px); /* Интересное свойство, предназначенное только для фонов */
}
.popup-research [popover]::backdrop {
  content: "";
  background: none;
  backdrop-filter: none;
}
.popup-research__popover dl {
  margin-bottom: 0;
}

.popup-research_btn-group {
  display: flex;
  gap: 1rem;
}

.tooltip-anchor {
  anchor-name: --button-el;
}

.tooltip {
  inset: unset;
  max-width: 150px;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
  position-anchor: --button-el;
  position-area: top;
  position-try-fallbacks: --bottom, --left, --right;
}
.tooltip::backdrop {
  background: none;
}

/* Описываем position-try-fallbacks  */
@position-try --bottom {
  position-area: bottom;
}
@position-try --left {
  position-area: left;
}
@position-try --right {
  position-area: right;
}
.section-four-five {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
.section-four-five .child-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-four-five .child-one {
  position: absolute;
  top: 0;
  left: calc(100% - 100px);
  width: 100px;
  height: 100px;
  background-color: #ff44b1;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  animation: leaf-circle 10s infinite alternate ease-in-out, color-change 3s infinite linear;
}
.section-four-five .child-one:hover {
  animation-play-state: paused;
}
.section-four-five .child-one::after {
  content: "";
  display: block;
  position: relative;
  top: 30%;
  left: 25%;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
  animation: star-chining 7s infinite;
}
.section-four-five .child-one::before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  animation: star-chining 10s infinite;
}
@keyframes leaf-circle {
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 80px;
  }
  100% {
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 0;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
  }
}
@keyframes color-change {
  50% {
    background-color: #ca44ff;
  }
  100% {
    background-color: #448fff;
  }
}
@keyframes star-chining {
  50% {
    opacity: 0.3;
    transform: translate(500%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.section-seven {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}
.section-seven div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1px;
}
.section-seven details[open]::details-content {
  background: #cfff75;
}
.section-seven .details__decor {
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff5700;
  text-align: center;
  color: #fff;
}
.section-seven div.details__horizontal {
  margin-top: 0.5rem;
  position: relative;
  flex-direction: row;
  gap: 0.5rem;
}
.section-seven div.details__horizontal details[open] summary, .section-seven div.details__horizontal details[open]::details-content {
  background: #cfff75;
}
.section-seven div.details__horizontal details[open]::details-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 1rem);
  z-index: 1;
}

/*# sourceMappingURL=index.css.map */
