.one__text {
  display: block;
  text-align: center;

  font-family: "Jaro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  font-size: clamp(26px, 7vw, 110px);

  background-image: url("/src/static/cloud.jpg");
  background-position: left center;
  background-size: cover;

  background-clip: text;
  color: transparent;
}
